body {
    background-color:  #FEFEFE;
    font-family: "PT_Serif-Web-Regular"; 
}
.fixed{
        position: fixed;
    }

.grid {
    width: 900px;
    position: absolute;
    top:20px;
    left: 250px;
}

.grid-item {
    display: inline-block;
    width: 350px;
    height:290px;
    overflow: hidden;
}

.hoverimage {
    position: relative;
}

.hoverimage img:last-child {
    opacity: 0;
    transition: all 1s ease 0s;
}

.hoverimage img {
    position: absolute;
}

.hoverimage:hover img:last-child{
    opacity: 1;
}

@font-face {
    font-family: "AvenirLTStd-Roman";
    src: url("../fonts/AvenirLTStd-Roman.otf");
}

@font-face{
    font-family: "PT_Serif-Web-Regular"
    src: url("../fonts/PT_Serif-Web-Regular.ttf");
}

#about{
    position: absolute;
    display: inline-block;
    width: 350px;
    height:290px;
    line-height: 25px;
    top: 100px;
    left: 250px;
}

#title{
    position: absolute;
    display: inline-block;
    width: 350px;
    height:290px;
    line-height: 25px;
    top: 60px;
    left: 248px;
    font-size: 45px;
}

.fixed {
    position: fixed;
}


#text{
    position: absolute;
    display: inline-block;
    width: 350px;
    height:290px;
    line-height: 15px;
    left: 20px;
}


#header{
    position: absolute;
    display: inline-block;
    width: 350px;
    height:290px;
    line-height: 45px;
    top: 50px;
    left: 197px;
    font-size: 45px;
    font-family: "AvenirLTStd-Roman"; 

}

#description{
    position: absolute;
    display: inline-block;
    width: 350px;
    height:290px;
    line-height: 25px;
    top: 145px;
    left: 200px;
}

#image{
    position: absolute;
    display: inline-block;
    width: 350px;
    height:290px;
    top: 30px;
    left: 615px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}



